/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff8c00;
}

section {
  padding: 40px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border-radius: 5px;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.project img {
  max-width: 200px;
  margin-right: 20px;
  border-radius: 5px;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ff8c00;
}

.project p {
  font-size: 1rem;
  color: #aaa;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
